
#nest1 {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}

#nest2 {
    font-size: 18px;

    p {
        color: brown;
    }

    ul {
        color: darkblue;
    }
}

#nest3 {
    font-size: 18px;

    p {
        color: purple;
    }

    ul {
        color: darkred ;
    }
}