$color: #000066;
$font_size: 17px;

#Mission{
    font-size: 20px;
    color: $color;
}

#Programming {
    font-size: $font_size;
	color: $color;
}

#Applications {
    font-size: $font_size;
	color: $color;
}

#Cloud {
    font-size: $font_size;
	color: $color;
}